body {

	background-color: #edeff0 ;
	font: 16px Helvetica ;
	font-size: 1.5em ;
}
p {
	color: #b2bac2 ;
}
h1 {
	font: 28px color: #384047 ; 
}
head {
	margin: 700px ;
	background-color: #FFFFFF ; 
}
